{%extends "base.html"%}

{% block content %}
<!-- style="display: none;" -->
<div class="all-wrapper" >
    <!--  if is admin -->
    {% if current_user.isAdmin %}
    <!-- this possibly in a square  -->
        <div>
            Submission count: {{data.subCount}} 
        </div>
    <!-- this one same next to the one above -->
        <div>
            User count:  {{data.usrCount}} 
        </div>
    <!-- user table that does not have paging thinking of use a drop down menu to shrink size -->
        <table>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Last Login At</th>
            </tr>
            {% for usr in data.usrs %}
                {% if not usr.isAdmin %}
                <tr>
                    <td>{{usr.username}}</td>
                    <td>{{usr.firstname}}</td>
                    <td>{{usr.lastname}}</td>
                    <td>{{usr.email}}</td>
                    <td>{{usr.lastLogin}}</td>
                    <td><a href="{{url_for('register.deleteUser', userId=usr.id)}}">delete</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>

        <div>
            <!-- submission table -->
            <table>
                <tr>
                    <th>
                        Submission from
                    </th>
                    <th>
                        created at
                    </th>
                    <th>
                        difficulty
                    </th>
                    <th>
                        marked at 
                    </th>
                </tr>
                {% for sub in data.subs %}
                    {% if not sub.marked %}
                    <tr>
                        <td>
                            {% set  user_name = namespace(value="") %}
                            {%set item_id = sub.id%}
                            {% for usr in data.usrs %}
                                {% if sub.creater_id == usr.id %}
                                    {% set user_name.value = usr.username%}
                                {% endif %}
                            {% endfor %}
                            <a href="{{url_for('assessment.markSubmission', toBeMarked=item_id)}}">{{user_name.value}}</a>
                        </td>
                        <td>
                            {{sub.createdAt}}
                        </td>
                        <td>
                            {{sub.difficulty}}
                        </td>
                        <td>
                            {% if sub.marked %}
                                {{sub.markedAt}}
                            {% else %}
                                No record
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <!--  -->
            <!-- link for submission pages -->
            {% if data._links.sub_prev %}
                <a href="{{ data._links.sub_prev }}">Newer sub</a>
            {% endif %}
            {% if data._links.sub_next %}
                <a href="{{ data._links.sub_next }}">Older sub</a>
            {% endif %}
            <!--  -->
        </div>
    {% endif %}
    <!-- if is user -->
    {% if not current_user.isAdmin %}
        
        <div class="header">
            <h1>
                profile
            </h1>
        </div>

            <!-- these basic info be placed left -->
            <div class="user-info">
                Name:{{current_user.username}}
                <br>
                you have made:{{data.subs|length}} Submissions
                <br>
                last seen at: 
                <br>
                <span class="trim-time">{{current_user.lastLogin}}</span>
            </div>
            <div class="rank-wrapper">
                <div class="rank-container">
                    <div class="rank-upper black">
                        Note High Score 
                        <br>
                        <span class="highlight">{{current_user.noteHighScore}}</span> <br>
                        Rank
                        <br>
                        <span class="highlight">{{data.noteRank}}</span> 
                    </div>
                    <div class="rank-under gray">
                        <table>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Score
                                </th>
                                <th>
                                    rank
                                </th>
                            </tr>
                            {% for topuser in data.notelist %}
                            <tr>
                                <td>{{topuser.username}}</td>
                                <td>{{topuser.noteHighScore}}</td>
                                <td>{{key.getNoteRanking(topuser.id)}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="rank-container">
                    <div class="rank-upper white">
                        Key High Score 
                        <br>
                        <span class="highlight">{{current_user.KeyHighScore}}</span> <br>
                        Ranking
                        <br>
                        <span class="highlight">{{data.keyRank}}</span> 
                    </div>
                    <div class="rank-under gray">
                        <table>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Score
                                </th>
                                <th>
                                    rank
                                </th>
                            </tr>
                            {% for topuser in data.keylist %}
                            <tr>
                                <td>{{topuser.username}}</td>
                                <td>{{topuser.KeyHighScore}}</td>
                                <td>{{key.getKeyRanking(topuser.id)}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <!-- table of submissions preferably in the same style as the admin one -->
            <div class="submissions">
                <hr>
                <table >
                    <tr class="first">
                        <th>Difficulty</th>
                        <th>Submitted At</th>
                        <th>Marks Received</th>
                        <th>Passed</th>
                        <th>Feedback</th>
                    </tr>
                    {% for sub in data.subs %}
                    <tr>
                        <td>
                            {{sub.difficulty}}
                        </td>                   
                        <td class="trim-time">{{sub.createdAt}}</td>
                        <td>
                            {{sub.totalmark}}
                        </td>
                        <td>
                            {{sub.passed}}
                        </td>
                        <td>
                            {% if sub.feedback %}
                            {%set item_id=sub.id%}
                            <a href="{{url_for('assessment.viewSubmission', subId=item_id)}}">FeedBack</a>
                            {% else %}
                            {%set item_id=sub.id%}
                            <a href="{{url_for('assessment.viewSubmission', subId=item_id)}}">None</a>
                            {% endif %}
    
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            
            <!-- smae links -->
            <div class="links">

                    {% if data._links.sub_prev %}
                    <a  class="content-button" href="{{ data._links.sub_prev }}">Newer sub</a>
                    {% endif %}

                    {% if data._links.sub_next %}
                    <a class="content-button" href="{{ data._links.sub_next }}">Older sub</a>
                    {% endif %}
            </div>

        
    {% endif %}
</div>
<script type="text/javascript">
    //don't touch this part!!!!!!! and do not change class name of block 
    //this function will fade in the entire div(including the page content) so it doesn't flash on load!!!!
    // $(document).ready(function() {
    //     $(".all-wrapper").fadeIn(500);
    // });
    ///
</script>
{% endblock %}

