{%extends "base.html"%}

{% block content %}

<div class="all-wrapper" style="display: none;" >
    <!--  if is admin -->

    <!-- if is user -->

        <div class="header">
            <h1 id="currentname">{{current_user.username}}</h1>
        </div>

            <!-- these basic info be placed left -->
            <div class="user-profile">
                <img class="user-image" src="/static/image/Sample1.png" alt="Icon">
                <br>
                <strong>Username</strong>
                <br>
                {{current_user.username}}
                <br>
                <strong>Last login</strong>
                <br>
                <span class="trim-time">{{current_user.lastLogin}}</span>
                <br>
                <strong>Submissions</strong>
                <br>
                {{data.subs|length}} 
                <br>
                <strong>Email</strong>
                <br>
                {{current_user.email}}
                <br>
                <strong>Firstname</strong>
                <br> 
                {{current_user.firstname}}
                <br>
                <strong>Lastname</strong>
                <br>
                {{current_user.lastname}}
                
            </div>
            <div class="rank-wrapper">
                <div class="rank-container">
                    <a class="rank-upper black" href="{{url_for('index.notes', chapter='chapter1', page='page6')}}">
                        Note High Score 
                        <br>
                        <span class="highlight">{{current_user.noteHighScore}}</span> <br>
                        Rank
                        <br>
                        <span class="highlight">{{data.noteRank}}</span> 
                    </a>
                    <div class="rank-under gray">
                        <table>
                            <tr class="first">
                                <th colspan="3">
                                    Challenge
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    User
                                </th>
                                <th>
                                    Score
                                </th>
                                <th>
                                    rank
                                </th>
                            </tr>
                            {% for topuser in data.notelist %}
                            <tr>
                                <td>{{topuser.username}}</td>
                                <td>{{topuser.noteHighScore}}</td>
                                <td>{{key.getNoteRanking(topuser.id)}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="rank-container">
                    <a class="rank-upper white" href="{{url_for('index.notes', chapter='chapter3', page='page5')}}">
                        Key High Score 
                        <br>
                        <span class="highlight">{{current_user.KeyHighScore}}</span> <br>
                        Ranking
                        <br>
                        <span class="highlight">{{data.keyRank}}</span> 
                    </a>
                    <div class="rank-under gray">
                        <table>
                            <tr class="first">
                                <th colspan="3">
                                    Challenge
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    User
                                </th>
                                <th>
                                    Score
                                </th>
                                <th>
                                    rank
                                </th>
                            </tr>
                            {% for topuser in data.keylist %}
                            <tr>
                                <td>{{topuser.username}}</td>
                                <td>{{topuser.KeyHighScore}}</td>
                                <td>{{key.getKeyRanking(topuser.id)}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <!-- table of submissions preferably in the same style as the admin one -->
            <div class="submissions">
                <hr>
                <table >
                    <tr class="first">
                        <th>Difficulty</th>
                        <th>Submitted At</th>
                        <th>Marks Received</th>
                        <th>Passed</th>
                        <th>Feedback</th>
                    </tr>
                    {% for sub in data.subs %}
                    <tr>
                        <td>
                            {{sub.difficulty}}
                        </td>                   
                        <td class="trim-time">{{sub.createdAt}}</td>
                        <td>
                            {{sub.totalmark}}
                        </td>
                        <td>
                            {{sub.passed}}
                        </td>
                        <td>
                            {% if sub.feedback %}
                            {%set item_id=sub.id%}
                            <a href="{{url_for('assessment.viewSubmission', subId=item_id)}}">FeedBack</a>
                            {% else %}
                            {%set item_id=sub.id%}
                            <a href="{{url_for('assessment.viewSubmission', subId=item_id)}}">None</a>
                            {% endif %}
    
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- smae links -->
            <div id="sublinks" class="links">

                    {% if data._links.sub_prev %}
                    <a id="new" class="content-button" href="{{ data._links.sub_prev }}">Newer sub</a>
                    {% endif %}

                    {% if data._links.sub_next %}
                    <a id="old" class="content-button" href="{{ data._links.sub_next }}">Older sub</a>
                    {% endif %}
            </div>
            <div class="filler"></div>
            <div class="footer-container" style="width: 100%; left: 0;">
                <footer>&#169 Copyright Sidenote by Peter Sheng & Shuang Zheng 2021. All Rights Reserved.</footer>
             </div>
</div>
<script type="text/javascript">
    //don't touch this part!!!!!!! and do not change class name of block 
    //this function will fade in the entire div(including the page content) so it doesn't flash on load!!!!
    $(document).ready(function() {
        $(".all-wrapper").fadeIn(500);
        if(document.getElementById("new") == null && document.getElementById("old") !=null){
            document.getElementById("sublinks").classList.toggle("links-right")
        }
    });
    ///
</script>
{% endblock %}

