{%extends "content.html"%}
{% block page %}
<div class="textcontainer">
    <h1>KEY</h1>
    <p>
        This module will explore the concepts of <strong>Keys.</strong><br>
        Some concepts from previous modules may apply, it is recomanded to compelete those modules befor you continue
        <a href="{{url_for('index.notes', chapter='chapter1', page='page1')}}">Revise Notation</a> <a href="{{url_for('index.notes', chapter='chapter2', page='page1')}}">Revise Rhythm</a>
        <hr class="display">
    </p>
    <div class="pagebutton display">
        <a href="{{url_for('index.notes', chapter='chapter3', page='page2')}}">Learn More</a>
    </div>
</div>
<script>
    $(document).ready(function(){
        var paragraph = document.getElementsByClassName("textcontainer")[0].querySelectorAll('.display');
        var display = 0;
        $(".textcontainer").bind('click',function(){
            if(display < paragraph.length){
                paragraph[display].style.opacity = 1;
                display++;
            }
        })
    });
</script>
{% endblock %}