{%extends "content.html"%}
{% block page %}
<div class="text-container ">
    <div class="content-section">
        <div class="para">
            <h1>What is a key</h1>
            <hr>
            <p>A <strong>Key</strong> represents a group of core pitches used in a piece of music where melody, chords, and bassline are all derived from.</p>
            <ol>
                <li>This group features a center note called the <strong>Tonic</strong> and its <strong>6</strong> other corresponding
                    notes.</li>
                <li>Keys are named after their <strong>tonic</strong> note and belong to either the major or minor category.</li>
                <li>A scale displays this group of notes in sequence.</li>
            </ol>
            <hr>
            <div class="canvas-wrapper">
                <p>Here is an example of a scale in the key of <strong>C Major</strong> starting from the tonic <strong>C</strong></p>
                <div class="canvascontainer">
                    <div class="stave" id="cmajor"></div>
                </div>
            </div>
        </div>  
    </div>
    <div class="pagebutton">
        <span id="previous"><a href="{{url_for('index.notes', chapter='chapter3', page='page1')}}">&lt; Previous</a></span>
        <span id="next"><a href="{{url_for('index.notes', chapter='chapter3', page='page3')}}">Next &gt;</a></span>
        <div class="footer-container normal">
            <p>&#169; Copyright Sidenote by Peter Sheng & Shuang Zheng 2021. All Rights Reserved.</p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        init("cmajor", "treble", null,400,"C")
        addnote("treble",["c/4","d/4","e/4","f/4","g/4","a/4","b/4"],["w","w","w","w","w","w","w",])
    });
</script>
{% endblock %}
