{%extends "content.html"%}
{% block page %}
<div class="textcontainer">
   <h1>What is a key</h1>
   <hr>
   <p>In music theory, a <strong>Key</strong> is a group of pitches that establishes the basis of a piece of music</p>
    <ol>
        <li>The group features a center note called the <strong>Tonic</strong> and its corrosponding scale</li>
    </ol>
    <div class="pagebutton display">
        <a href="{{url_for('index.notes', chapter='chapter2', page='page2')}}">Learn More</a>
    </div>
</div>
<script>
    $(document).ready(function(){
        var paragraph = document.getElementsByClassName("textcontainer")[0].querySelectorAll('.display');
        var display = 0;
        $(".textcontainer").bind('click',function(){
            if(display < paragraph.length){
                paragraph[display].style.opacity = 1;
                display++;
            }
        })
    });
</script>
{% endblock %}
