{% extends 'content.html'%}
{% block page %}
<div class="text-container">
    <div class="content-section quiz"> 
        <div id="intro">
            <h1>Key Reaction test</h1>
            <div class="summary" >
                <p>
                    In this test you will have <strong>30</strong> seconds to test your familiarity with note recognition. 
                </p>
                <span class="content-button note" id="start">Start</span>
            </div>
        </div>
        <div id="content" style="display: none;">
            <h1 class="header-section">Note Reaction test</h1>
            <span id="timer">30 seconds remaining</span>
            <div class="timer-section">
                <div class="bar"></div>
            </div>
            <div class="score-section">
                Current score :  <strong id="score">0</strong>
            </div>
            <div class="stave-section">
                <p>Name the following note.</p>
                <div>
                    <div class="stave" id="note"></div>
                </div>
            </div>
            <div class="btn-section">
                <span class="content-button large"  id="btn-1">button1</span>
                <span class="content-button large"  id="btn-2">button2</span>
            </div>
        </div>
        <div class="review-hr" id="review" style="display: none;">
            <h1 id="record"></h1>
            <span>you have received: </span>
            <span id="finalscore"></span>
            <span> Marks!</span>
            <hr>
            <span>Highest score:</span> 
            <span id="highscore"></span>
            <hr>
            <span>Current Ranking:</span>
            <span id="ranking"></span>
            <hr>
            <span>View full result and ranking, click <a href="{{url_for('index.profile', userId=current_user.id)}}">Here</a></span>
        </div>
    </div>
    <div class="footer-container">
        <footer>&#169 Copyright Sidenote by Peter Sheng & Shuang Zheng 2021. All Rights Reserved.</footer>
    </div>
</div>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(document).ready(function(){
        var rightAnswer = null;
        var canidateLiterals = [["C","C"],["F","F"],["B","B"],["Eb","E flat"],
                                ["Ab","A flat"],["Db","D flat"],["Gb","G flat"],
                                ["Cb","C flat"],["G","G"],["D","D"],["A","A"],
                                ["E","E"],["B","B"],["F#","F sharp"],["C#","C sharp"]]
        var currentpair = [];
        var correctanswer = null;
        var this_clef = null;
        var points = 0;
        var timeLeft = 30;
        var userId = {{ current_user.id|safe }}
        var time_div = document.getElementById("timer");
        var score = document.getElementById("score");
        $("#start").bind("click",function(){
            $("#intro").css("display","none")
            $("#content").css("display","block")
            timer = setInterval(countdown, 1000);
            this_clef = getRandomClef()
            setAnswers(this_clef);
        })
        $("#btn-1").bind("click",function(){
            if(event.target.innerHTML == correctanswer[1]){
                points++;
            }
            else{
                if(points > 0){
                    points--;
                }
            }
            score.innerHTML = points;
            removestave("note");
            this_clef = getRandomClef()
            setAnswers(this_clef);
        })
        $("#btn-2").bind("click",function(){
            if(event.target.innerHTML == correctanswer[1]){
                points++;
            }
            else{
                if(points > 0){
                    points--;
                }
            }
            score.innerHTML = points;
            removestave("note");
            this_clef = getRandomClef()
            setAnswers(this_clef);
        })
        function setAnswers(clef){
            canidates = getRandomCanidate(15);
            currentpair[0] = canidateLiterals[canidates[0]];
            currentpair[1] = canidateLiterals[canidates[1]];
            correctanswer = currentpair[0];
            btn_assign = Math.round(Math.random())
            btn_assign == 0 ? btnAssingInOrder("btn-1","btn-2",currentpair) : btnAssignReOrder("btn-1","btn-2",currentpair)
            renderStaveKeys("note",this_clef,currentpair[0][0]);
        }
        function timeOutSubmit(){
            $.getJSON($SCRIPT_ROOT + '/timedKey', {
                score: points,
                user : userId
                }, function(data) {
                $("#content").css("display","none")
                $("#review").css("display","block")
                if(data.record == true){
                    document.getElementById("record").innerHTML = "New Record!"
                }
                else{
                    document.getElementById("record").innerHTML = "Well Done!"
                }
                document.getElementById("highscore").innerHTML = data.HighScore
                document.getElementById("ranking").innerHTML = data.ranking;
                document.getElementById("finalscore").innerHTML = data.score;
            }) 
        }
        function countdown(){
            if (timeLeft == -1) {
                clearTimeout(timer);
                timeOutSubmit();
            } 
            else {
                time_div.innerHTML = timeLeft + ' seconds remaining';
                timeLeft--;
            }
        }
    });
  </script>
{% endblock %}