{% extends 'content.html'%}
{% block page %}
<div class="text-container">
    <div class="content-section">
        <div class="para">
            <h1>Time Signature</h1>
            <hr>
            <p>
                In music notation, a <strong>Bar</strong> represents a segment of time corresponding
                to a specific number of <strong>beats</strong> that are closed off by vertical boundaries called <strong>bar lines.</strong>
            </p>
            <div class="canvas-wrapper">
                <p>This is a <strong>bar</strong>.</p>
                <div class="canvascontainer">
                    <div class="stave" id="bar"></div>
                </div>
            </div>
            <hr>
            <p >
                Similar to clefs, the <strong>Time signatures</strong> establishes the rhythmic context of a piece of music.
                <br>
            </p>
            <p >
                Time signatures consists of two figures positioned like a fraction symbol.
                The top figure represents the <strong>amount of beats</strong> present in a bar, whereas the bottom figure determines
                the <strong>note value</strong> of those beats. 
            </p>
            <div class="canvas-wrapper">
                <p>
                    This is an example of a <strong> 4/4</strong> time signatures - also known as the common-time. <br>
                    The number 4 above indicates that there are <strong>4 beats</strong> in a bar, whereas the bottom 4 represents the note value of <strong>crotchet</strong>. 
                </p>
                <div class="canvascontainer">
                    <div class="stave" id="timesigniture"></div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="pagebutton">
        <span id="previous"><a href="{{url_for('index.notes', chapter='chapter2', page='page1')}}"> &lt Previous</a></span>
        <span id="next"><a href="{{url_for('index.notes', chapter='chapter2', page='page3')}}">Next &gt</a></span>
        <div class="footer-container normal">
            <p>&#169 Copyright Sidenote by Peter Sheng & Shuang Zheng 2021. All Rights Reserved.</p>
         </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        init("timesigniture","treble","4/4",200);
        init("bar",null, null, 200,null)
    });
</script>
{% endblock %}