{%extends "content.html"%}

{% block page %}
<div class="textcontainer">
    <p>
        This module explores the <strong>Rhythm</strong> diamention of music notation.
        <hr class="display">
    </p>
    <p class="display">
        What is Rhythm
    </p>
    <ul>
        <li class="display">Determines the <strong>occurance</strong> and <strong>duration</strong> of pitch(notes)</li>
        <li class="display">Orgnizes music in an intuitive and readable manner</li>
        <li class="display">Building block for longer passages and phrases</li>
    </ul>
    <div class="pagebutton display">
        <span id="next"> <a href="{{url_for('index.notes', chapter='chapter2', page='page2')}}">Learn More</a> </span>
    </div>
</div>
<script>
    $(document).ready(function(){
        var paragraph = document.getElementsByClassName("textcontainer")[0].querySelectorAll('.display');
        var display = 0;
        $(".textcontainer").bind('click',function(){
            if(display < paragraph.length){
                paragraph[display].style.opacity = 1;
                display++;
            }
        })
    });
</script>
{% endblock %}