{% extends 'content.html'%}

{% block page %}
<p>
  In western music notation, a<strong>stave</strong> consists of 5 horrizontal lines and
  four spaces. Notes reside either on or inbetween those staves, representing the duriation
  and pitch of which should be interpreted by the performer.
</p>
<div class="canvascontainer">
  <div id="canvas"></div>
</div>

<br/>
<div class="pagebutton">
  <span id="next"> <a href="{{url_for('index.c1page2')}}">&gt</a> </span>
</div>
<script>

  $(document).ready(function(){
    init("canvas", null, null);
  });
</script>
{% endblock %}