{% extends 'content.html'%}

{% block page %}
<div class="text-container">
  <div class="content-section">
    <div class="para">
        <h1>
          Note representation
        </h1>
        <p>
          Now with a stave to work with , we are able to place some <strong>notes</strong>.
        </p>
        <hr>
        <p>
          In western music notation, <strong>notes</strong> are named cyclically through the Alphabets 
          <strong>[A-G]</strong>. For each step up the stave, the note increment alphabetically (decrements stepping down the stave).
          Identical notes of the next/previous cycle essentially represent the same note, but an octive higher/Lower. 
        </p>
        <hr>
        <div class="canvas-wrapper">
          <div class="canvascontainer ">
            <div class="stave" id="notes"></div>
          </div>
          <div  class="button-container">
            <span class="content-button" id="down">&lt;</span>
            <span class="content-note" id="display" ></span>
            <span class="content-button" id="up">&gt;</span>
          </div>
        </div>
    </div>
  </div>
  <div class="pagebutton">
    <span id="previous"> <a href="{{url_for('index.notes', chapter='chapter1', page='page2')}}">&lt; Previous</a> </span>
    <span id="next"> <a href="{{url_for('index.notes', chapter='chapter1', page='page4')}}"> Next &gt;</a> </span>
    <div class="footer-container normal">
      <p>&#169; Copyright Sidenote by Peter Sheng & Shuang Zheng 2021. All Rights Reserved.</p>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    const basicnotes = ["c/4","d/4","e/4","f/4","g/4","a/4","b/4","c/5","d/5","e/5","f/5","g/5","a/5","b/5"]
    var position = 6;
    init("notes", "treble", null,200,null);
    addnote("treble", [basicnotes[position]], ["q"]);
    $("#display").text(basicnotes[position]);
    $("#down").bind('click',function(){
        if(position == basicnotes.length-1){
            $('#up').css("opacity", "1");
        }
        if(position > 0 ){
            position--;
            removestave("notes");
            init("notes", "treble", null,200,null);
            addnote("treble", [basicnotes[position]], ["q"]); 
            $("#display").text(basicnotes[position])
        }
        if(position == 0){
            $('#down').css("opacity", "0");
        }
    })
    $("#up").bind('click',function(){
        if(position == 0){
            $('#down').css("opacity", "1");
        }
        if(position < basicnotes.length-1){
            position++;
            removestave("notes");
            init("notes", "treble", null,200,null);
            addnote("treble", [basicnotes[position]], ["q"]);  
            $("#display").text(basicnotes[position])
        }
        if(position == basicnotes.length-1){
            $('#up').css("opacity", "0");
        }  
    })
  });
</script>
{% endblock %}