{% extends 'content.html'%}

{% block page %}
<div class="textcontainer">
  <h1>
    WHAT IS MUSIC NOTATION
  </h1>
  <hr>
  <p>
    Western music notation is a system used to visurally represent music played by instrument or sung by human voice through a set of 
    rules and symbols. 
    <hr class="display">
  </p>
  <p class="display">
    This moduel will develop a basic understanding of musical notation and explore some of its relevant context. 
  </p>
  <div class="pagebutton display">
    <span id="next"><a href="{{url_for('index.notes', chapter='chapter1', page='page2')}}">Learn More</a> </span>
  </div>
</div>
<script>
  $(document).ready(function(){
      var paragraph = document.getElementsByClassName("textcontainer")[0].querySelectorAll('.display');
      var display = 0;
      $(".textcontainer").bind('click',function(){
          if(display < paragraph.length){
              paragraph[display].style.opacity = 1;
              display++;
          }
      })
  });
</script>
{% endblock %}