{% extends 'content.html'%}

{% block page %}
<div class="text-container">

  <div class="content-section">
    <div class="para">
      <h1>
        CLEFS
      </h1>
      <hr>
      <p>
        In western music notation, <strong>notes</strong> reside in either one of 4 spaces or 5 horrizontal lines of a <strong>stave.</strong>
        But in order to place a note with it's intended meaning, some context must be established on a given stave.
      </p>
      <p >
        A <strong>clef</strong> determines which note a particular line/space will
        represent. The <strong>trebel &#119070</strong> and <strong>bass &#119074</strong> clef were two of the most commonly used
        in music notation.
      </p>
      <hr>
      <div class="canvas-wrapper">
        <p>
          Click the buttons to find out the position of middle "C" in respective clefs.
        </p>
        <div class="canvascontainer ">
          <div class="stave" id="clef"></div>
        </div>
        <div class="button-container">
          <span class="content-button" id="treble">treble</span>
          <span class="content-button" id="bass">bass</span>
        </div>
      </div>
    </div>
  </div>
  <div class="pagebutton">
    <span id="previous"> <a href="{{url_for('index.notes', chapter='chapter1', page='page1')}}">&lt Previous</a> </span>
    <span id="next"> <a href="{{url_for('index.notes', chapter='chapter1', page='page3')}}">Next &gt</a> </span>
    <div class="footer-container normal">
      <p>&#169 Copyright Sidenote by Peter Sheng & Shuang Zheng 2021. All Rights Reserved.</p>
    </div>
  </div>
</div> 
<script>
    $(document).ready(function(){
        init("clef", null, null,200,null);
        $("#treble").bind('click',function(){
            removestave("clef");
            init("clef","treble",null,200,null);
            addnote("treble", ["c/4"], ["q"]);
        })
        $("#bass").bind('click',function(){
            removestave("clef");
            init("clef","bass",null,200,null);
            addnote("bass", ["c/4"], ["q"]);
        })
    });
</script>
{% endblock %}