{% extends 'content.html'%}

{% block page %}
<div class="text-container">
  <div class="content-section">
    <div class="para">
      <h1>
        WHAT IS MUSIC NOTATION
      </h1>
      <p>
        Western music notation is a system used to visurally represent music played by instrument or sung by human voice through a set of 
        rules and symbols. 
      </p>
      
      <ol class="list-stff">
        <li>This module will develop a basic understanding of musical notation and explore some of its relevant context.</li> 
      </ol> 
      
    </div>
    <hr class="intro-page">
    <div class="learn-wrapper">
      <a class="learn-btn" id="Learn-more" onkeydown="myFunction()" href="{{url_for('index.notes', chapter='chapter1', page='page2')}}">Learn More</a>
    </div>
  </div>
  <div class="footer-container">
    <footer>&#169; Copyright Sidenote by Peter Sheng & Shuang Zheng 2021. All Rights Reserved.</footer>
  </div>
</div>
{% endblock %}