{% extends 'content.html'%}

{% block page %}
<div class="text-container">
  <div class="content-section">
    <div class="para">
      <h1>
        More representations
      </h1>
      <p>
        In fact, in between an octive, exists <strong>12</strong> notes, instead of the <strong>7</strong> we have just learnt. <br>
      </p>
      <hr>
      <div class="piano-wrapper">
        <p>
        This keyboard demonstrates those 12 notes from F4 to E5. <br>
        Notice how there are 5 black notes in total, which fill the missing pieces of the puzzle. <br>
        Along with the 7 white notes, they form the <strong>12 tone equal temperament</strong> - a musical system that used predominantly in western music notation.
        </p>
        <div class="pianocontainer">
          <ul class="set" id="piano">
            <li class="white b" id="f/4">f/4</li>
            <li class="black as" id="f#/4">f#/4</li>
            <li class="white a" id="g/4">g/4</li>
            <li class="black gs" id="g#/4">g#/4</li>
            <li class="white g" id="a/4">a/4</li>
            <li class="black fs" id="a#/4">a#/4</li>
            <li class="white f" id="b/4">b/4</li>
            <li class="white e" id="c/5">c/5</li>
            <li class="black ds" id="c#/5">c#/5</li>
            <li class="white d" id="d/5">d/5</li>
            <li class="black cs" id="d#/5">d#/5</li>
            <li class="white c" id="e/5">e/5</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="pagebutton">
    <span id="previous"> <a href="{{url_for('index.notes', chapter='chapter1', page='page3')}}">&lt Previous</a> </span>
    <span id="next"> <a href="{{url_for('index.notes', chapter='chapter1', page='page5')}}">Next &gt</a> </span>
  </div>
  <div class="footer-container normal">
    <p>&#169 Copyright Sidenote by Peter Sheng & Shuang Zheng 2021. All Rights Reserved.</p>
  </div>
</div>
{% endblock %}