{%extends "assessment.html"%}
{% block page %}
<form method="post" onsubmit="submissionvalidate();" novalidate>
    {% if form %}
    {{ form.hidden_tag() }}
    {% endif %}
    <h1 class="assessment-header">Assessment - III</h1>
    <p class="question question1">
        This assessment may require knowldge beyond provided content and is sutible for ones seeking for more challenge.
    </p>
    <div class="canvas-wrapper">
        <p>
            Look at this passage and answer the questions below.
        </p> 
        <div class="canvascontainer display">
            <div id="Q1"></div>
        </div>
    </div>
    <div class="canvascontainer assessment">
        <div id="question1" class="question">
            <ol class="list-stff">
                <li>Name three notes in this passage that does not belong to the key of <strong>A</strong></li> 
            </ol>
            {% if form %}
                {% if current_user.isAdmin%}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 1 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F1}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q1(class="response")}}</p>
                {% endif %}
            {% endif %}   
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 1 %}
                    <p>
                        <p><span>your response:</span> {{item.submittedAnswer}}</p>
                        {% if item.markreceived %}
                        <p>&#10003</p>
                        {% else %}
                        <p class="cross">&#10005</p>
                        {% endif %}
                        {% if item.feedback %}
                        <p><span>Feedback for q1:</span> {{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <hr>
    <div class="canvascontainer assessment">
        <div id="question2">  
            <ol class="list-stff">
                <li>State two diffierece between bar 1 and bar 2.</li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 2 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F2}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q2(class="response")}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 2 %}
                    <p>
                        <p><span>your response:</span> {{item.submittedAnswer}}</p>
                        {% if item.markreceived %}
                        <p>&#10003</p>
                        {% else %}
                        <p class="cross">&#10005</p>
                        {% endif %}
                        {% if item.feedback %}
                        <p><span>Feedback for q2:</span> {{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div id="Q5"></div>
    <div class="canvascontainer assessment">
        <div id="question3">
            <ol class="list-stff">
                <li>Compare this passage with the one above, is it correctly written two octive lower? Why and why not? </li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 3 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F3}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q3(class="response")}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 3 %}
                    <p>
                        <p><span>your response:</span> {{item.submittedAnswer}}</p>
                        {% if item.markreceived %}
                        <p>&#10003</p>
                        {% else %}
                        <p class="cross">&#10005</p>
                        {% endif %}
                        {% if item.feedback %}
                        <p><span>Feedback for q3:</span> {{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="canvascontainer assessment">
        <div id="question4">    
            <ol class="list-stff">
                <li> Name the missing time signiture and explain why.</li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 4 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F4}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q4(class="response")}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 4 %}
                    <p>
                        <p><span>your response:</span> {{item.submittedAnswer}}</p>
                        {% if item.markreceived %}
                        <p>&#10003</p>
                        {% else %}
                        <p class="cross">&#10005</p>
                        {% endif %}
                        {% if item.feedback %}
                        <p><span>Feedback for q4:</span> {{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr>
<div class="canvascontainer assessment">
    <div id="question5">
        <ol class="list-stff">
            <li>What's the interval between the last two notes and which scale degree does the last note represent in the current key? Explain
        </ol>                      
        {% if form %}
            {% if current_user.isAdmin %}
                <span>user response for this question is</span>
                {% for item in responses %}
                    {% if item.answerSeq == 5 %}
                    <p>
                        {{item.submittedAnswer}}
                    </p>
                    {% endif %}
                {% endfor %}
                <span>marker's feedback:</span>
                <p>{{form.F5}}</p>
            {% endif %}
            {% if not current_user.isAdmin%}
                <p>{{form.Q5(class="response")}}</p>
                {% endif %}
        {% endif %}
        {% if not current_user.isAdmin%}
            {% for item in responses %}
                {% if item.answerSeq == 5 %}
                <p>
                    {% if item.markreceived %}
                    <p>&#10003</p>
                    {% else %}
                    <p>&#10005</p>
                    {% endif %}
                    <p><span>your response:</span> {{item.submittedAnswer}}</p>
                    {% if item.feedback %}
                    <p><span>Feedback for q5:</span> {{item.feedback}}</p>
                    {% endif %}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if form %}
    <p>{{ form.submit() }}</p>
    {% endif %}
</form>
    <style>
        textarea{
            width: 300px;
            height: 90px;
        }
    </style>
    <script>
        $(document).ready(function(){
            difficult("Q1","Q5")
        })
    </script>
    <script src="/static/js/validate.js"></script>
{% endblock %}







