{%extends "assessment.html"%}
{% block page %}
{% if current_user.isAdmin %}
<form method="post" onsubmit="submissionvalidate(0);" novalidate>
{% else %}
<form method="post" onsubmit="submissionvalidate(1);" novalidate>
{% endif %}
    {% if form %}
    {{ form.hidden_tag() }}
    {% endif %}
    <h1>Assessment - III</h1>
    {% if not total and total !=0 %}
    <p class="question question1">
        This assessment may require knowldge beyond provided content and is sutible for ones seeking for more challenge.
    </p>
    {% elif not current_user.isAdmin %}
    <h2 class="empty">Total mark: {{total}}</h2>
    {% endif %}
    <div class="canvas-wrapper">
        <p>Look at this passage and answer the questions below.</p> 
        <div class="canvascontainer display">
            <div id="Q1"></div>
        </div>
    </div>
    <div class="canvascontainer assessment">
        <div id="question1">
            <ol class="list-stff">
                <li>Name three notes in this passage that does not belong to the key of <strong>A</strong></li> 
            </ol>
            {% if form %}
                {% if current_user.isAdmin%}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 1 %}
                        <p class="response-area">
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>Marker's feedback:</span>
                    <p>{{form.F1(class="response")}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q1(class="response")}}</p>
                {% endif %}
            {% endif %}   
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 1 %}
                    <p>
                        <span>your response:</span> 
                        {% if item.markreceived %}
                        <p class="correct">{{item.submittedAnswer}}</p>
                        {% else %}
                        <p class="wrong">{{item.submittedAnswer}}</p>
                        {% endif %}
                        {% if item.feedback %}
                        <span>Feedback for q1:</span> 
                        <p class="response-area">{{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <hr>
    <div class="canvascontainer assessment">
        <div id="question2">  
            <ol class="list-stff">
                <li>State two diffierece between bar 1 and bar 2.</li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 2 %}
                        <p class="response-area">
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>Marker's feedback:</span>
                    <p>{{form.F2(class="response")}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q2(class="response")}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 2 %}
                    <p>
                        <span>your response:</span> 
                        {% if item.markreceived %}
                        <p class="correct">{{item.submittedAnswer}}</p>
                        {% else %}
                        <p class="wrong">{{item.submittedAnswer}}</p>
                        {% endif %}
                        {% if item.feedback %}
                        <span>Feedback for q2:</span> 
                        <p class="response-area">{{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="canvas-wrapper">
        <p>Answer question 5 with the following diagram.</p>
        <div class="canvascontainer display">
            <div id="Q5"></div>
        </div>
    </div>
    <div class="canvascontainer assessment">
        <div id="question3">
            <ol class="list-stff">
                <li>Compare this passage with the one above, is it correctly written two octive lower? Why and why not? </li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 3 %}
                        <p class="response-area"> 
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>Marker's feedback:</span>
                    <p>{{form.F3(class="response")}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q3(class="response")}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 3 %}
                    <p>
                        <span>your response:</span> 
                        {% if item.markreceived %}
                        <p class="correct">{{item.submittedAnswer}}</p>
                        {% else %}
                        <p class="wrong">{{item.submittedAnswer}}</p>
                        {% endif %}
                        {% if item.feedback %}
                        <span>Feedback for q3:</span> 
                        <p class="response-area">{{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="canvascontainer assessment">
        <div id="question4">    
            <ol class="list-stff">
                <li> Name the missing time signiture and explain why.</li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 4 %}
                        <p class="response-area">
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F4(class="response")}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q4(class="response")}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 4 %}
                    <p>
                        <span>your response:</span> 
                        {% if item.markreceived %}
                        <p class="correct">{{item.submittedAnswer}}</p>
                        {% else %}
                        <p class="wrong">{{item.submittedAnswer}}</p>
                        {% endif %}
                        {% if item.feedback %}
                        <span>Feedback for q4:</span> 
                        <p class="response-area">{{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr>
<div class="canvascontainer assessment"> 
    <div id="question5">
        <ol class="list-stff">
            <li>What's the interval between the last two notes and which scale degree does the last note represent in the current key? Explain
        </ol>                      
        {% if form %}
            {% if current_user.isAdmin %}
                <span>user response for this question is</span>
                {% for item in responses %}
                    {% if item.answerSeq == 5 %}
                    <p class="response-area">
                        {{item.submittedAnswer}}
                    </p>
                    {% endif %}
                {% endfor %}
                <span>marker's feedback:</span>
                <p>{{form.F5(class="response")}}</p>
            {% endif %}
            {% if not current_user.isAdmin%}
                <p>{{form.Q5(class="response")}}</p>
                {% endif %}
        {% endif %}
        {% if not current_user.isAdmin%}
            {% for item in responses %}
                {% if item.answerSeq == 5 %}
                <p>
                    <span>your response:</span> 
                    {% if item.markreceived %}
                    <p class="correct">{{item.submittedAnswer}}</p>
                    {% else %}
                    <p class="wrong">{{item.submittedAnswer}}</p>
                    {% endif %}
                    {% if item.feedback %}
                    <span>Feedback for q5:</span> 
                    <p class="response-area">{{item.feedback}}</p>
                    {% endif %}
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% if form %}
<p class="notedemo">{{ form.submit(id="submit", class="content-button") }}</p>
{% endif %}
</form>
    <script>
        $(document).ready(function(){
            difficult("Q1","Q5")
        })
    </script>
    <script src="/static/js/validate.js"></script>
{% endblock %}







