{%extends "assessment.html"%}
{% block page %}
    <form method="post" onsubmit="validate();">
        {% if form %}
        {{ form.hidden_tag() }}
        {% endif %}
        <p class="question question1">
            This assessment will test your knowldge on music theory and history at an intermediate difficulty.
            <hr>
            Once you felt confortable with this moduel you may move on to the next level
            <hr>
        </p>
        <p>
            Look at this passage and answer the questions below
        </p> 
        <div class="canvascontainer display">
            <div class="stave" id="Q1"></div>
        </div>
        <div id="question1">
            <p>                
                Name three notes in this passage that does not belong to the key of A minor
            </p>
            {% if form %}
                {% if current_user.isAdmin%}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 1 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F1}}</p>
                    <p>{{form.F1.lable}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q1(class="response")}}</p>
                <p>{{form.Q1.lable}}</p>
                {% endif %}
            {% endif %}   
            {% for item in responses %}
                {% if item.answerSeq == 1 %}
                <p>
                    <p><span>your response:</span> {{item.submittedAnswer}}</p>
                    <p><span>Feedback for q1:</span> {{item.feedback}}</p>
                </p>
                {% endif %}
            {% endfor %}
        </div>
        <div id="question2">  
            <p>
                State one diffierece between bar 1 and bar 2.
            </p>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 2 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F2}}</p>
                    <p>{{form.F2.lable}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q2(class="response")}}</p>
                <p>{{form.Q2.lable}}</p>
                {% endif %}
            {% endif %}
            {% for item in responses %}
                {% if item.answerSeq == 2 %}
                <p>
                    <p><span>your response:</span> {{item.submittedAnswer}}</p>
                    <p><span>Feedback for q2:</span> {{item.feedback}}</p>
                </p>
                {% endif %}
            {% endfor %}
        </div>
        <div id="question3">
            <p>
                What's the interval between the last two notes? Which note will you add to form a tonic triad in the key of g major? 
            </p>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 3 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F3}}</p>
                    <p>{{form.F3.lable}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q3(class="response")}}</p>
                <p>{{form.Q3.lable}}</p>
                {% endif %}
            {% endif %}
            {% for item in responses %}
                {% if item.answerSeq == 3 %}
                <p>
                    <p><span>your response:</span> {{item.submittedAnswer}}</p>
                    <p><span>Feedback for q3:</span> {{item.feedback}}</p>
                </p>
                {% endif %}
            {% endfor %}
        </div>
        <div id="question4">    
            <p>
                Name the missing time signiture and explain why.
            </p>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 4 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F4}}</p>
                    <p>{{form.F4.lable}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q4(class="response")}}</p>
                <p>{{form.Q4.lable}}</p>
                {% endif %}
            {% endif %}
            {% for item in responses %}
                {% if item.answerSeq == 4 %}
                <p>
                    <p><span>your response:</span> {{item.submittedAnswer}}</p>
                    <p><span>Feedback for q4:</span> {{item.feedback}}</p>
                </p>
                {% endif %}
            {% endfor %}
        </div>

        <div>passage again</div>

        <div id="question5">
            <p>
                Compare this passage with the one above, is it correctly written one octive higher? Why andy why not? 
            </p>                      
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 5 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F5}}</p>
                    <p>{{form.F5.lable}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                    <p>{{form.Q5(class="response")}}</p>
                    <p>{{form.Q5.lable}}</p>
                    {% endif %}
            {% endif %}
            {% for item in responses %}
                {% if item.answerSeq == 5 %}
                <p>
                    <p><span>your response:</span> {{item.submittedAnswer}}</p>
                    <p><span>Feedback for q4:</span> {{item.feedback}}</p>
                </p>
                {% endif %}
            {% endfor %}
        </div>
        {% if form %}
        <p>{{ form.submit() }}</p>
        {% endif %}

    </form>
    <style>
        textarea{
            width: 300px;
            height: 90px;
        }
    </style>
    <script>
        $(document).ready(function(){
            intermediate("Q1")
        })
        function validate(){
            var warnings = document.getElementsByClassName("warning")
            if(warnings != null){
                len = warnings.length;
                for(i=0; i<len; i++){
                    warnings[0].remove();
                }
            }
            var answerField = document.getElementsByClassName("response");
            for(i = 0; i<answerField.length; i++){
                if(answerField[i].value == ""){
                    var error = document.createElement("div")
                    error.innerHTML = "Can not have empty field"
                    error.className = "warning"
                    answerField[i].parentNode.insertBefore(error,answerField[i].nextSibling)
                    event.preventDefault()
                }
                else if(answerField[i].value.length > 100){
                    var error = document.createElement("div")
                    error.innerHTML = "exeed word limit"
                    error.className="warning"
                    answerField[i].parentNode.insertBefore(error,answerField[i].nextSibling)
                    event.preventDefault()
                }
            }
            return true
        }
    </script>
{% endblock %}







