{%extends "assessment.html"%}
{% block page %}
<!--  -->
    <form method="post" onsubmit="submissionvalidate();" novalidate>
        {% if form %}
        {{ form.hidden_tag() }}
        {% endif %}
        <h1>Assessment - II</h1>
        <p class="question question1">
            This assessment will test your knowldge on music theory and history at an intermediate difficulty.
            <hr>
            Once you felt confortable with this moduel you may move on to the next level
            <hr>
        </p>
        <div id="question1">
            <div class="canvascontainer display">
                <div class="stave" id="Q1"></div>
            </div>
            <p>
                Name the highest note in this passage and state its notevalue
            </p>
            {% if form %}
                {% if current_user.isAdmin%}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 1 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F1}}</p>
                    <p>{{form.F1.lable}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q1(class="response")}}</p>
                <p>{{form.Q1.lable}}</p>
                {% endif %}
            {% endif %} 
            {% if not current_user.isAdmin%}  
                {% for item in responses %}
                    {% if item.answerSeq == 1 %}
                    <p>
                        {% if item.markreceived %}
                        <p>&#10003</p>
                        {% else %}
                        <p>&#10005</p>
                        {% endif %}
                        <p><span>your response:</span> {{item.submittedAnswer}}</p>
                        {% if item.feedback %}
                        <p><span>Feedback for q1:</span> {{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div id="question2">
            <p>
                Describe the time signiture as: Simple or Compound/duple, triple or quadruple
            </p>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 2 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F2}}</p>
                    <p>{{form.F2.lable}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q2(class="response")}}</p>
                <p>{{form.Q2.lable}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 2 %}
                    <p>
                        {% if item.markreceived %}
                        <p>&#10003</p>
                        {% else %}
                        <p>&#10005</p>
                        {% endif %}
                        <p><span>your response:</span> {{item.submittedAnswer}}</p>
                        {% if item.feedback %}
                        <p><span>Feedback for q2:</span> {{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div id="question3">
            <p>
                How many semiquavers will fit in the first note of the second bar? 
            </p>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 3 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F3}}</p>
                    <p>{{form.F3.lable}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q3(class="response")}}</p>
                <p>{{form.Q3.lable}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 3 %}
                    <p>
                        {% if item.markreceived %}
                        <p>&#10003</p>
                        {% else %}
                        <p>&#10005</p>
                        {% endif %}
                        <p><span>your response:</span> {{item.submittedAnswer}}</p>
                        {% if item.feedback %}
                        <p><span>Feedback for q3:</span> {{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div id="question4">
            <p>            
                Name an enharmonic of the second last note 
            </p>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 4 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F4}}</p>
                    <p>{{form.F4.lable}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q4(class="response")}}</p>
                <p>{{form.Q4.lable}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 4 %}
                    <p>
                        {% if item.markreceived %}
                        <p>&#10003</p>
                        {% else %}
                        <p>&#10005</p>
                        {% endif %}
                        <p><span>your response:</span> {{item.submittedAnswer}}</p>
                        {% if item.feedback %}
                        <p><span>Feedback for q4:</span> {{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div id="question5">
            <p>
                List the components of A major
            </p>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>user response for this question is</span>
                    {% for item in responses %}
                        {% if item.answerSeq == 5 %}
                        <p>
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>marker's feedback:</span>
                    <p>{{form.F5}}</p>
                    <p>{{form.F5.lable}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                    <p>{{form.Q5(class="response")}}</p>
                    <p>{{form.Q5.lable}}</p>
                    {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 5 %}
                    <p>
                        {% if item.markreceived %}
                        <p>&#10003</p>
                        {% else %}
                        <p>&#10005</p>
                        {% endif %}
                        <p><span>your response:</span> {{item.submittedAnswer}}</p>
                        {% if item.feedback %}
                        <p><span>Feedback for q4:</span> {{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% if form %}
        <p>{{ form.submit() }}</p>
        {% endif %}

    </form>
    <style>
        textarea{
            width: 300px;
            height: 90px;
        }
    </style>
    <script>
        $(document).ready(function(){
            intermediate("Q1")
        })
    </script>
    <script src="/static/js/validate.js"></script>
{% endblock %}