{%extends "assessment.html"%}
{% block page %}
{% if current_user.isAdmin %}
<form method="post" onsubmit="submissionvalidate(0);" novalidate>
{% else %}
<form method="post" onsubmit="submissionvalidate(1);" novalidate>
{% endif %}
    {% if form %}
    {{ form.hidden_tag() }}
    {% endif %}
    <h1>Assessment - II</h1>
    {% if not total %}
    <p class="question question1">
        This assessment will test your knowldge on music theory and history at an intermediate difficulty.
        <hr>
        Once you felt confortable with this moduel you may move on to the next level.
        <hr>
    </p>
    {% elif not current_user.isAdmin %}
    <h2 class="empty">Total mark: {{total}}</h2>
    {% endif %}
    <div class="canvas-wrapper">
        <p>Look at this passage and answer the questions below.</p>
        <div class="canvascontainer">
            <div class="stave" id="Q1"></div>
        </div>
    </div>
    <div class="canvascontainer assessment">
        <div id="question1">
            <ol class="list-stff">
                <li>Name the highest note in this passage and state its notevalue.</li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin%}
                    <span>User response for this question is: 
                    </span>
                    {% for item in responses %}
                        {% if item.answerSeq == 1 %}
                        <p class="response-area">
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>Marker's feedback:</span>
                    <p>{{form.F1(class="response")}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                    <p>{{form.Q1(class="response")}}</p>
                {% endif %}
            {% endif %} 
            {% if not current_user.isAdmin%}  
                {% for item in responses %}
                    {% if item.answerSeq == 1 %}
                    <p>
                        <span>your response:</span> 
                        {% if item.markreceived %}
                        <p class="correct">{{item.submittedAnswer}}</p>
                        {% else %}
                        <p class="wrong">{{item.submittedAnswer}}</p>
                        {% endif %}
                        {% if item.feedback %}
                        <span>Feedback for q1:</span> 
                        <p class="response-area">{{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>  
    <hr>
    <div class="canvascontainer assessment">
        <div id="question2">
            <ol class="list-stff">
                <li>Describe the time signature as: Simple or Compound/duple, triple or quadruple</li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>User response for this question is: </span>
                    {% for item in responses %}
                        {% if item.answerSeq == 2 %}
                        <p class="response-area">
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>Marker's feedback:</span>
                    <p>{{form.F2(class="response")}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q2(class="response")}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 2 %}
                    <p>
                        <span>your response:</span> 
                        {% if item.markreceived %}
                        <p class="correct">{{item.submittedAnswer}}</p>
                        {% else %}
                        <p class="wrong">{{item.submittedAnswer}}</p>
                        {% endif %}
                        {% if item.feedback %}
                        <span>Feedback for q2:</span> 
                        <p class="response-area">{{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="canvascontainer assessment">
        <div id="question3">
            <ol class="list-stff">
                <li>How many semiquavers will fit in the first note of the second bar? </li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>User response for this question is: </span>
                    {% for item in responses %}
                        {% if item.answerSeq == 3 %}
                        <p class="response-area">
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>Marker's feedback:</span>
                    <p>{{form.F3(class="response")}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q3(class="response")}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 3 %}
                    <p>
                        <span>your response:</span> 
                        {% if item.markreceived %}
                        <p class="correct">{{item.submittedAnswer}}</p>
                        {% else %}
                        <p class="wrong">{{item.submittedAnswer}}</p>
                        {% endif %}
                        {% if item.feedback %}
                        <span>Feedback for q3:</span> 
                        <p class="response-area">{{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>  
    <hr>
    <div class="canvascontainer assessment">
        <div id="question4">
            <ol class="list-stff">
                <li> Name an enharmonic of the second last note </li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>User response for this question is: </span>
                    {% for item in responses %}
                        {% if item.answerSeq == 4 %}
                        <p class="response-area">
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>Marker's feedback:</span>
                    <p>{{form.F4(class="response")}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                <p>{{form.Q4(class="response")}}</p>
                {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 4 %}
                    <p>
                        <span>your response:</span> 
                        {% if item.markreceived %}
                        <p class="correct">{{item.submittedAnswer}}</p>
                        {% else %}
                        <p class="wrong">{{item.submittedAnswer}}</p>
                        {% endif %}
                        {% if item.feedback %}
                        <span>Feedback for q4:</span> 
                        <p class="response-area">{{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="canvascontainer assessment">
        <div id="question5">
            <ol class="list-stff">
                <li>List the components of A major</li>
            </ol>
            {% if form %}
                {% if current_user.isAdmin %}
                    <span>User response for this question is: </span>
                    {% for item in responses %}
                        {% if item.answerSeq == 5 %}
                        <p class="response-area">
                            {{item.submittedAnswer}}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <span>Marker's feedback:</span>
                    <p>{{form.F5(class="response")}}</p>
                {% endif %}
                {% if not current_user.isAdmin%}
                    <p>{{form.Q5(class="response")}}</p>
                    {% endif %}
            {% endif %}
            {% if not current_user.isAdmin%}
                {% for item in responses %}
                    {% if item.answerSeq == 5 %}
                    <p>
                        <span>your response:</span> 
                        {% if item.markreceived %}
                        <p class="correct">{{item.submittedAnswer}}</p>
                        {% else %}
                        <p class="wrong">{{item.submittedAnswer}}</p>
                        {% endif %}
                        {% if item.feedback %}
                        <span>Feedback for q5:</span> 
                        <p class="response-area">{{item.feedback}}</p>
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if form %}
    <p class="notedemo">{{ form.submit(id="submit", class="content-button") }}</p>
    {% endif %}
</form>
<script>
    $(document).ready(function(){
        intermediate("Q1")
    })
</script>
<script src="/static/js/validate.js"></script>
{% endblock %}