{%extends "assessment.html"%}
{% block page %}
    {% if current_user.isAdmin %}
    <form method="post" onsubmit="submissionvalidate(0);" novalidate>
    {% else %}
    <form method="post" onsubmit="submissionvalidate(1);" novalidate>
    {% endif %}
        {% if form %}
        {{ form.hidden_tag() }}
        {% endif %}
        <h1>Assessment - I</h1>
        {% if not total and total !=0 %}
        <p class="question question1">
            This assessment will test your knowldge on music theory and history at an intermediate difficulty.
            <hr>
            Once you felt confortable with this moduel you may move on to the next level
            <hr>
        </p>
        {% elif not current_user.isAdmin %}
        <h2 class="empty">Total mark: {{total}}</h2>
        {% endif %}
        <div class="canvas-wrapper">
            <p>Look at this passage and answer the questions below.</p> 
            <div class="canvascontainer display">
                <div class="stave" id="Q1"></div>
            </div>
        </div>
        <div class="canvascontainer assessment">
            <div id="question1">
                <ol class="list-stff">
                    <li>Name the first and last note.</li>
                </ol>
                {% if form %}
                    {% if current_user.isAdmin%}
                        <span>User response for this question is:</span>
                        {% for item in responses %}
                            {% if item.answerSeq == 1 %}
                            <p class="response-area">
                                {{item.submittedAnswer}}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <span>Marker's feedback:</span>
                        <p>{{form.F1(class="response")}}</p>
                    {% endif %}
                    {% if not current_user.isAdmin%}
                        <p>{{form.Q1(class="response")}}</p>
                    {% endif %}
                {% endif %}
                {% if not current_user.isAdmin%}
                    {% for item in responses %}
                        {% if item.answerSeq == 1 %}
                        <p>
                            <span>your response:</span> 
                            {% if item.markreceived %}
                            <p class="correct">{{item.submittedAnswer}}</p>
                            {% else %}
                            <p class="wrong">{{item.submittedAnswer}}</p>
                            {% endif %}
                            {% if item.feedback %}
                            <span>Feedback for q1:</span> 
                            <p class="response-area">{{item.feedback}}</p>
                            {% endif %}
                        </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>  
        <hr>
        <div class="canvascontainer assessment">
            <div id="question2">
                <ol class="list-stff">
                    <li>What's the value of the first note in the second bar?</li>
                </ol>
                {% if form %}
                    {% if current_user.isAdmin %}
                        <span>User response for this question is: </span>
                        {% for item in responses %}
                            {% if item.answerSeq == 2 %}
                            <p class="response-area">
                                {{item.submittedAnswer}}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <span>Marker's feedback:</span>
                        <p>{{form.F2(class="response")}}</p>
                    {% endif %}
                    {% if not current_user.isAdmin%}
                    <p>{{form.Q2(class="response")}}</p>
                    {% endif %}
                {% endif %}
                {% if not current_user.isAdmin%}
                    {% for item in responses %}
                        {% if item.answerSeq == 2 %}
                        <p>
                            <span>your response:</span> 
                            {% if item.markreceived %}
                            <p class="correct">{{item.submittedAnswer}}</p>
                            {% else %}
                            <p class="wrong">{{item.submittedAnswer}}</p>
                            {% endif %}
                            {% if item.feedback %}
                            <span>Feedback for q2:</span> 
                            <p class="response-area">{{item.feedback}}</p>
                            {% endif %}
                        </p>
                        {% endif %}
                    {% endfor %}
                {% endif %} 
            </div>
        </div> 
        <hr>
        <div class="canvascontainer assessment">
            <div id="question3">
                <ol class="list-stff">
                    <li>Name a note that is 7 steps above the last note.</li>
                </ol>
                {% if form %}
                    {% if current_user.isAdmin %}
                        <span>user response for this question is</span>
                        {% for item in responses %}
                            {% if item.answerSeq == 3 %}
                            <p class="response-area">
                                {{item.submittedAnswer}}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <span>marker's feedback:</span>
                        <p>{{form.F3(class="response")}}</p>
                    {% endif %}
                    {% if not current_user.isAdmin%}
                    <p>{{form.Q3(class="response")}}</p>
                    {% endif %}
                {% endif %}
                {% if not current_user.isAdmin%}
                    {% for item in responses %}
                        {% if item.answerSeq == 3 %}
                        <p>
                            <span>your response:</span> 
                            {% if item.markreceived %}
                            <p class="correct">{{item.submittedAnswer}}</p>
                            {% else %}
                            <p class="wrong">{{item.submittedAnswer}}</p>
                            {% endif %}
                            {% if item.feedback %}
                            <span>Feedback for q3:</span> 
                            <p class="response-area">{{item.feedback}}</p>
                            {% endif %}
                        </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="canvascontainer assessment">
            <div id="question4">
                <p>
                    List 5 note values in decending order(longest to shortest), starting from semibreave.
                </p>
                {% if form %}
                    {% if current_user.isAdmin %}
                        <span>User response for this question is: </span>
                        {% for item in responses %}
                            {% if item.answerSeq == 4 %}
                            <p class="response-area">
                                {{item.submittedAnswer}}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <span>marker's feedback:</span>
                        <p>{{form.F4(class="response")}}</p>
                    {% endif %}
                    {% if not current_user.isAdmin%}
                    <p>{{form.Q4(class="response")}}</p>
                    {% endif %}
                {% endif %}
                {% if not current_user.isAdmin%}
                    {% for item in responses %}
                        {% if item.answerSeq == 4 %}
                        <p>
                            <span>your response:</span> 
                            {% if item.markreceived %}
                            <p class="correct">{{item.submittedAnswer}}</p>
                            {% else %}
                            <p class="wrong">{{item.submittedAnswer}}</p>
                            {% endif %}
                            {% if item.feedback %}
                            <span>Feedback for q4:</span> 
                            <p class="response-area">{{item.feedback}}</p>
                            {% endif %}
                        </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="canvascontainer assessment">
            <div id="question5">
                <ol class="list-stff">
                    <li> Name the time signiture and exaplain what it means</li>
                </ol>          
                {% if form %}
                    {% if current_user.isAdmin %}
                        <span>user response for this question is</span>
                        {% for item in responses %}
                            {% if item.answerSeq == 5 %}
                            <p class="response-area">
                                {{item.submittedAnswer}}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <span>marker's feedback:</span>
                        <p>{{form.F5(class="response")}}</p>
                    {% endif %}
                    {% if not current_user.isAdmin%}
                        <p>{{form.Q5(class="response")}}</p>
                        {% endif %}
                {% endif %}
                {% if not current_user.isAdmin%}
                    {% for item in responses %}
                        {% if item.answerSeq == 5 %}
                        <p>
                            <span>your response:</span> 
                            {% if item.markreceived %}
                            <p class="correct">{{item.submittedAnswer}}</p>
                            {% else %}
                            <p class="wrong">{{item.submittedAnswer}}</p>
                            {% endif %}
                            {% if item.feedback %}
                            <span>Feedback for 5:</span> 
                            <p class="response-area">{{item.feedback}}</p>
                            {% endif %}
                        </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <hr>
        {% if form %}
        <p class="notedemo">{{ form.submit(id="submit", class="content-button") }}</p>
        {% endif %}
    </form>
    <script>
        $(document).ready(function(){
            intro("Q1")
        })
    </script>
    <script src="/static/js/validate.js"></script>
{% endblock %}





