* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}

#a {
  position: fixed;
  z-index: 3;
  width: 100%;
}
.under {
  justify-content: center;
  width: 70%;
  margin: auto;
}
/* div p {
  margin: 0% 20%; Remove for now check if mess with anything later
} */
.container-fluid h1 {
  letter-spacing: 0.1ex;
  text-transform: uppercase;
  font-size: 7ex;
}
.container-fluid {
  width: 100%;
  text-align: center;
  height: 100ex;

  padding-right: 0;
  padding-left: 0;
}
#a {
  min-height: 4rem;
  display: flex;
  align-items: center;
  background-color: rgb(43, 41, 38);
  justify-content: space-around;
  box-shadow: 0px 1px 8px 1px rgb(43, 41, 38);
  /* rgba(0, 0, 0, 0.2) */
}
.logo {
  margin: 0;
  color: rgb(199, 194, 194);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 17px;
}
.items {
  margin: 0;
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 30%;
}
.items li {
  position: relative;
  text-transform: uppercase;
  padding: 3px 0px;
  margin: 0ex;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  border-left: 1px solid black;
  color: rgb(199, 194, 194);
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.items li:last-child {
  border-right: 1px solid black;
}
.items li:hover {
  transition: all 0.4s ease 0.01s;
  color: rgb(199, 194, 194);
  background-color: grey;
  text-decoration: none;
  letter-spacing: 1px;
}
a {
  color: rgb(199, 194, 194);
  text-decoration: none;
}
a:hover {
  color: rgb(66, 71, 87);
  text-decoration: none;
}
#a li:hover .dropdown-content {
  transition-delay: 0.2s;
  display: block;
}
.dropdown-content {
  position: absolute;
  display: none;
  color: rgb(199, 194, 194);
  background-color: grey;
  width: auto;
  z-index: inherit;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.t {
  background-color: red;
  height: 400px;
}

/* .pageIndex{
    min-height: 7ch;
    border: 2px solid rgb(53, 51, 44);
    display: flex;
    align-items: center;
    background-color: rgb(43, 41, 38);
    justify-content: space-around;
} */
.block {
  border: 3px solid black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
}

.block .arrow-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 170px;
  z-index: 2;
  float: left;
  overflow: auto;
  background-color: rgb(43, 41, 38);
}
.block .arrow-container .chapter-content {
  display: inline-block;
  text-align: left;
  margin: 0;
  margin-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.block .arrow-container {
  position: fixed;
  top: 0;
  width: 15%;
  min-height: 40vh;
  padding-bottom: 0;
  height: 100%;
  left: 0;
}
.block .content-page {
  width: 72%;
}
.block .arrow-container .chapter-content .page-num {
  margin-bottom: 8%;
}
.text-container {
  height: 100vh;
}
.text-container .content-section {
  display: inline-block;
  text-align: left;
  justify-content: left;
  width: 100%;
}


.content-page h1 {

  margin: 8% 0 5% 0;
  padding: 20px 0px 20px 20px;
  background-color: rgb(216, 212, 212);
}
.content-page p {
  font-size: 2.6ex;

}

.learn-wrapper {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn-btn {
  position: relative;
  /* border: 1px solid black; */
  color: rgb(43, 41, 38);
  background: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px;
  width: 250px;
}

.learn-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(43, 41, 38);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 700ms ease-in;
  z-index: -1;
}
.learn-btn:hover:before,
.learn-btn:focus:before {
  transform: scaleX(1);
}
.learn-btn:hover,
.learn-btn:focus {
  transition: 800ms;
  color: white;
}
.para {
  display: inline-block;
  text-align: left;
  justify-content: left;
  width: 100%;
}
.canvas-wrapper {
  padding: 5%;
  padding-left: 2%;
  background-color: rgb(87, 87, 87);
}
.canvas-wrapper p{
  color: white;
}
.canvascontainer {
  padding: 20px;
  background-color: rgb(214, 214, 214);
  padding-bottom: 5%;
  display: flex;
  justify-content: left;
  align-items: left;
}



.content-button{
  justify-content: center;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  display: inline-flex;
  height: 5ch;
  width: 10ch;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 0ch;
  box-shadow: 0px 1px 5px 1px rgb(43, 41, 38);
}

.content-button:hover{
  color: rgb(39, 39, 39);
  background-color: rgb(228, 228, 228);
  box-shadow: 0px 2px 9px 2px rgb(43, 41, 38);
  transition: all 0.4s ease 0.01s;
}
.button-container{
  height: 10ch;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.content-note{
  background-color: rgb(255, 255, 255);
  height: 5ch;
  width: 15ch;
  text-transform: uppercase;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgb(148, 148, 148); /* Old browsers */
  background: -moz-linear-gradient(left,  rgb(255, 255, 255) 1%, rgb(221, 221, 221) 20%,rgb(221, 221, 221) 80%, rgb(255, 255, 255) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(left,  rgb(255, 255, 255) 1%,rgb(221, 221, 221) 20%,rgb(221, 221, 221) 80%,rgb(255, 255, 255) 100%); /* Chrome10+,Safari5.1+ */
}

