*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
nav{
    width: 100%;
    min-height: 7ch;
    border: 2px solid rgb(53, 51, 44);
    display: flex;
    align-items: center;
    background-color: rgb(43, 41, 38);
    justify-content: space-around;
    position: fixed;
    z-index: 1
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    max-height: fit-content;
    

}
.content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 30px 30px 30px 30px;
} 
.content-container .box {
    position: relative;
    width: 350px;
    min-height: 40vh;
    background-color: #fff;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    border: 2px solid black;
    border-radius: 18px;
    float: left;
    margin: 35px;
} 
.background-grad{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, #007991, #108fa8, #56ecbf, #78ffd6);
    background-size: 200% 200%;
    position: relative;
    animation: change 15s ease-in-out infinite;

}
@media screen and (max-width: 1300px) {
    .body{
        padding-top: 50px;
        flex-direction: column;
        margin:0 auto;
    }

    
}
@media screen and (max-height: 500px) {
    .body{
        padding-top: 30px;
        flex-direction: row;
        margin:0 auto;
    }
    .content-container .box{
        min-height: 60vh;
        width: 230px;
        margin: 20px auto;
    }

    
}

