{%extends "base.html"%}

{% block content %}
<div class="block" style="display: none;">
    <nav class="pageIndex">
        <ul class="items">
            <a href="{{url_for('assessment.testSubmission', difficulty='intermediate')}}">Intro</a>
            <a href="{{url_for('assessment.testSubmission', difficulty='intermediate')}}">intermediate</a>
            <a href="{{url_for('assessment.testSubmission', difficulty='intermediate')}}">Difficult</a>
        </ul>
    </nav>
    {% block page %}{% endblock %}
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".block").fadeIn(500);
    });
</script>
{% include "imports/importassessment.html" %}
{% endblock %}
