<!DOCTYPE html>
<html>
    <head>
        {% include "imports/importhead.html" %}
        {% if title %}
        <title>{{ title }} - sidenote</title>
        {% else %}
        <title>Sidenote</title>
        {% endif %}
        <style>
        </style>
    </head>
    <body>
        {% include "nav.html" %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="under">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        <div class="block" style="display: none;">
            {% block content %}{% endblock %}
        </div>
    </div>
        {% include "imports/importfoot.html"%}
    </body> 
</html>
