{%extends "base.html"%}

{% block content %}

<div class="container">
    <nav class="inner-nav">
        <ul>
            <li>cp1</li>
            <li>cp2</li>
        </ul>
    </nav>
    {% block page %}{% endblock %}
    <div>
        <ul>
            <li> <a href="{{url_for('index.c1page1')}}">1</a> </li>
            <li> <a href="{{url_for('index.c1page2')}}">2</a> </li>
            <li> <a href="{{url_for('index.c1page3')}}">3</a> </li>
            <li> <a href="{{url_for('index.c1page4')}}">4</a> </li>
        </ul>
    </div>
</div>


{% include "imports/importnote.html" %}
{% endblock %}
