{%extends "base.html"%}

{% block content %}
        <h1>
            SideNote
        </h1>
        <h2>
            {% if not use==None %}
            welcome back {{use}}!
            {% endif %}
        </h2>
        <p>
            Your first step in music theory
        </p>
        <p>You will learn about</p>
        <ul>
            <li>Basic knowledge of music theory</li>
            <li>Music Notation</li>
            <li>Rhythm</li>
            <li>Keys and scales</li>
        </ul>
        <br>
        {% if not current_user.is_authenticated %}
        <p><a href="{{ url_for('register.register') }}">Register</a> <br></p>
        {% endif %}
{% endblock %}

