{%extends "base.html"%}

{% block content %}
        <h1>
            This is the title
        </h1>
        <h2>
            {% if not use==None %}
            welcome back {{use}}!
            {% endif %}
        </h2>
        <p>
            <span style="font-size: large;">In this course</span> you will learn about the basics musical theory 
            including concepts of notation, keys, chords and more. 
        </p>
        <a href="{{ url_for('auth.login') }}">LOGIN</a>
        <br>
        <a href="{{ url_for('index.demo') }}">demo</a>
{% endblock %}

