{% extends "base.html" %}

{% block content %}
    
    <form id="loginform" method="post" onsubmit="loginValidate();" novalidate>
        <h1 id="headtitle">Sign In</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <span class="warning">[{{ message }}]</span>
          {% endfor %}
        {% endif %}
        {% endwith %}
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            <br>
            {{ form.username(size=32, id="loginname") }}
            {% for error in form.username.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            <br>
            {{ form.password(size=32, id="loginpwd") }}
            {% for error in form.password.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(id="submit") }}</p>

        <div>
          don't have an account? <a href="{{ url_for('register.register') }}">Register</a>
        </div>
    </form>
    <script src="/static/js/validate.js"></script>
{% endblock %}