<nav id="a">
    <div>
        <h3 class="logo">Sidenote</h3>
    </div>
    <!-- display if loggedin -->
    <ul class="items">
        <li><a href="{{url_for('index.index')}}">Home</a></li>
        {% if current_user.is_authenticated and not current_user.isAdmin %}
            <li>
                content
                <div class="dropdown-content">
                    <a href="{{url_for('index.notes', chapter='chapter1', page='page1')}}">Notation</a>
                    <a href="{{url_for('index.notes', chapter='chapter2', page='page1')}}">Rhythm</a>
                    <a href="{{url_for('index.notes', chapter='chapter3', page='page1')}}">Key</a>
                </div>
            </li>
            <li>
                Assessment
                <div class="dropdown-content">
                    <a href="{{url_for('assessment.testSubmission', difficulty='intermediate')}}">Intro</a>
                    <a href="{{url_for('assessment.testSubmission', difficulty='intermediate')}}">intermediate</a>
                    <a href="{{url_for('assessment.testSubmission', difficulty='intermediate')}}">Difficult</a>
                </div>
            </li>
        {% endif %}
        {% if not current_user.is_authenticated %}
            <li><a href="{{url_for('auth.login')}}">Login</a></li>
        {% endif %}

        {% if current_user.is_authenticated %}
            <li><a href="{{url_for('index.profile', userId=current_user.id)}}">Profile</a></li>
            <li><a href="{{url_for('index.logout')}}">Log out</a></li>
        {% endif %}

    </ul>
</nav>