{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <h1>Sign In</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            <br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirmpassword.label }}
            <br>
            {{ form.confirmpassword(size=32) }}
            {% for error in form.confirmpassword.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.firstname.label }}
            <br>
            {{ form.firstname(size=32) }}
            {% for error in form.firstname.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastname.label }}
            <br>
            {{ form.lastname(size=32) }}
            {% for error in form.lastname.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            <br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}