<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="Tab icon" type="image/png" href="music.png">
</head>
<body>
    <div class="whole">
    <nav class="navbar">
        <div class="logo">
            <li>Logo</li>
        </div>
        <ul class="alt_tab">
            <li><a href="#">Tutorial</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quia quidem, fugiat id voluptatum, quibusdam repellendus cumque laboriosam molestias sint impedit sunt amet veniam. Nulla aliquam cumque magnam adipisci exercitationem?</p>
    </div>
</body>
</html>